@model PagedViewModel<PopularRadioSongs.Application.UseCases.RadioPlaybacks.GetLastPlaybacks.LastPlaybacksDto>

@{
    ViewData["Title"] = "Radio " + Model.Value.RadioName;
}

<h1>Radio @Model.Value.RadioName</h1>

<div>
    <h4>Playbacks</h4>

    <table class="table">
        <tbody>
            @foreach (var playbackGroup in Model.Value.PlaybackGroups)
            {
                <tr>
                    <td>
                        @playbackGroup.FromTime.ToString("g") - @playbackGroup.ToTime.ToString("t")
                    </td>
                    <td>
                    </td>
                </tr>
                @foreach (var playback in playbackGroup.Playbacks)
                {
                    <tr>
                        <td>
                        </td>
                        <td>
                            @playback.PlayTime.ToString("t")
                            <a asp-controller="Songs" asp-action="Details" asp-route-songId="@playback.SongId">@playback.SongTitle</a> -
                            @for (int i = 0; i < playback.Artists.Count; i++)
                            {
                                if (i > 0)
                                {
                                    <text> | </text>
                                }

                                var artist = playback.Artists[i];
                                <a asp-controller="Artists" asp-action="Details" asp-route-artistId="@artist.Id">@artist.Name</a>
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <partial name="_PaginationPartial" for="PagedData" />
</div>